<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.merpyzf.xmshare">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 文件读取 需要动态申请 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 网络状态相关的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 获取位置信息的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".common.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.view.MainActivity"></activity>
        <activity android:name=".ui.view.SplashActivity" />
        <activity
            android:name=".ui.view.activity.ReceiveActivity"
            android:label="接收文件" />
        <activity
            android:name=".ui.view.activity.SendActivity"
            android:label="发送文件" />
        <activity android:name=".ui.view.activity.SelectFilesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.test.BottomSheetDialogActivity" />
        <activity android:name=".ui.test.TestRadarViewActivity"></activity>
        <activity android:name=".ui.test.ScanVideoActivity" />

        <receiver
            android:name=".receiver.FileSelectedListChangedReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.view.activity.SettingActivity" />
        <activity android:name=".ui.test.APActivity" />
        <activity android:name=".ui.test.HostActivity" />

        <receiver
            android:name=".receiver.APChangedReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.WifiChangedReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.view.activity.PersonalActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            ></activity>
    </application>

</manifest>